---
import DefaultLayout from '../layouts/default.astro'
---

<DefaultLayout title="Главная">

  <h1>Astro</h1>
  <div container="xl:~" max-w="screen-xl" border="1 green md:red">
    container
  </div>
  <div class="retail">
    <div un-text="primary">123asdфывФ</div>
  </div>
  <div text="secondary">123</div>
  <div un-text="red">123</div>

</DefaultLayout>
